docs/n8n/workflows/llm-analyze-ollama.workflow.json
{
  "name": "LLM Analyze via Ollama",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookLLMAnalyze",
      "name": "Webhook LLM Analyze",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body ?? $json;\nconst prompt = input.prompt;\n\nif (!prompt || typeof prompt !== 'string') {\n  throw new Error('Поле prompt отсутствует или не является строкой');\n}\n\n// В self-hosted n8n доступ к $env в Code node часто заблокирован.\n// Поэтому модель берем из входного payload (input.model) либо из fallback.\nconst model = (input.model || 'llama3.1:8b').toString();\n\nreturn [{\n  json: {\n    prompt,\n    model,\n    projectTitle: input.projectTitle || '',\n    sourceText: input.sourceText || '',\n    departments: Array.isArray(input.departments) ? input.departments : []\n  }\n}];"
      },
      "id": "PrepareInput",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": $json.model,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты возвращаешь только валидный JSON без markdown и без пояснений.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $json.prompt\n    }\n  ],\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.2\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "CallOllama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst raw = data?.message?.content || data?.response || data?.output || '';\n\nif (!raw || typeof raw !== 'string') {\n  throw new Error('Ollama не вернул текстовый ответ');\n}\n\nlet text = raw.trim();\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```$/i, '').trim();\n\nconst firstBrace = text.indexOf('{');\nconst lastBrace = text.lastIndexOf('}');\nif (firstBrace < 0 || lastBrace < 0) {\n  throw new Error('В ответе модели не найден JSON объект');\n}\n\nconst parsed = JSON.parse(text.slice(firstBrace, lastBrace + 1));\n\nif (!parsed.summary || !Array.isArray(parsed.tasks) || !Array.isArray(parsed.departmentSuggestions)) {\n  throw new Error('JSON не соответствует ожидаемой схеме');\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "ParseJson",
      "name": "Parse LLM JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "RespondToWebhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        300
      ]
    }
  ],
  "connections": {
    "Webhook LLM Analyze": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
